<div class="banner banner--quick-tips">
    <div class="row small-collapse">
        <div class="large-12 columns">
            <div class="quick-tip quick-tip--energy-savings">
                <div class="quick-tip__icon"><%- image_tag( page.theme.images + '/icons/icon-energy-saving.svg', { alt: 'Energy Saving Tips Icon' } ) %></div>

                <div class="quick-tip__content-wrap">

                    <div class="quick-tip__header">Energy Saving Tips</div>
                    <div class="quick-tip__subheader">Tips to keep your system running</div>

                    <a href="<%- url_for( '/energy-saving.html' ) %>" class="button button--no-border" data-analytics-element-clicked="" data-analytics-type="LINK" data-analytics-text="Energy Savings Tips" data-analytics-location="FOOTER" data-analytics-position="PRIMARY" data-analytics-outcome="INTERNALLINK">Learn More <i class="ss-navigateright"></i></a>

                </div><!-- /.quick-tip__content-wrap -->
            </div><!-- /.quick-tip -->

            <div class="quick-tip quick-tip--hvac-maintenance">
                <div class="quick-tip__icon"><%- image_tag( page.theme.images + '/icons/icon-hvac-maintenance.svg', { alt: 'HVAC Maintenance Tips Icon' } ) %></div>

                <div class="quick-tip__content-wrap">

                    <div class="quick-tip__header">HVAC Maintenance Guide</div>
                    <div class="quick-tip__subheader">A guide to help you before the call</div>

                    <a href="<%- url_for( '/maintenance-guide.html' ) %>" class="button button--no-border" data-analytics-element-clicked="" data-analytics-type="LINK" data-analytics-text="HVAC Maintenance Guide" data-analytics-location="FOOTER" data-analytics-position="PRIMARY" data-analytics-outcome="INTERNALLINK">Learn More <i class="ss-navigateright"></i></a>

                </div><!-- /.quick-tip__content-wrap -->
            </div><!-- /.quick-tip -->

            <div class="quick-tip quick-tip--financing">
                <div class="quick-tip__icon"><%- image_tag( page.theme.images + '/icons/icon-financing-offers.svg', { alt: 'Savings & Offers Icon' } ) %></div>

                <div class="quick-tip__content-wrap">

                    <div class="quick-tip__header">Financing & Offers</div>
                    <div class="quick-tip__subheader">Ideas on how to cut home energy usage</div>

                    <a href="<%- url_for( '/savings-and-offers.html' ) %>" class="button button--no-border" data-analytics-element-clicked="" data-analytics-type="LINK" data-analytics-text="Financing &amp; Offers" data-analytics-location="FOOTER" data-analytics-position="PRIMARY" data-analytics-outcome="INTERNALLINK">Learn More <i class="ss-navigateright"></i></a>

                </div><!-- /.quick-tip__content-wrap -->
            </div><!-- /.quick-tip -->
        </div><!-- /.columns -->
    </div><!-- /.row -->
</div><!-- /.banner -->
